<!-- product.html -->

{% extends 'catalog/base.html' %}

{% block title %} Travel Shop : Каталог {% endblock %}

{% block content %}

<!--Список продуктов-->
<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for product in products %}

        {% if product.status == "published" or perms.catalog.can_unpublish_product or user == product.owner %}
        <div class="col">
            <div class="card mb-4 box-shadow">
                <div class="card-header text-center">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <img src="/media/{{ product.image|default:'/product_images/no_image.png'}}" class="img-fluid"
                             style="height: 250px;"
                             alt="{{ product.name }}">
                    </div>
                    <p>{{ product.description|truncatechars:100 }}</p>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col">
                            <a href="{% url 'catalog:product_detail' product.id %}">
                                <button type="button" class="btn btn-lg btn-block btn-outline-primary">
                                    {{ product.price }} руб.
                                </button>
                            </a>
                        </div>
                        {% if user.is_authenticated %}

                        {% if perms.catalog.can_unpublish_product or user == product.owner %}

                        <div class="col">
                            <div class="mt-auto d-flex justify-content-end">
                                <div>
                                    <a class="btn btn-primary" href="{% url 'catalog:product_update' product.pk %}"
                                       role="button">
                                        {% if perms.catalog.can_unpublish_product and not perms.is_superuser %}
                                        Публикация
                                        {% else %}
                                        Редактировать
                                        {% endif %}
                                    </a>
                                </div>
                                <a class="btn btn-danger" href="{% url 'catalog:product_delete' product.pk %}"
                                   role="button">Удалить</a>
                            </div>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>

                {% if perms.catalog.can_unpublish_product or user == product.owner %}

                {% if product.status == "unpublished" %}
                <div class="card-footer text-white bg-danger text-center">
                    {{ product.status }}
                </div>
                {% else %}
                <div class="card-footer text-white bg-success text-center">
                    {{ product.status }}
                </div>
                {% endif %}
                {% endif %}

            </div>
        </div>

        {% endif %}

        {% endfor %}
    </div>
    {% if user.is_authenticated and not perms.catalog.can_unpublish_product or perms.is_superuser %}
    <div class="text-center">
        <a class="btn btn-primary btn-lg shadow" href="{% url 'catalog:product_create' %}" role="button">Добавить
            продукт</a>
        <br>
    </div>
    {% endif %}
</div>
<!--Список продуктов - конец-->

{% endblock %}